<%= provide(:title, "HOME") %>
    <% if logged_in? %>
        <div class = "row">
            <aside class= "col-md-4">
                <section class= "user_info list_shadow rounded-3">
                    <%= render "shared/user_info" %>
                         <section class="stats p-2">
                    <%= render "shared/stats" %>
                </section>
                </section>
           
                <section class = "micropost_form list_shadow rounded-3">
                    <%= render "shared/micropost_form" %>
                </section>
            </aside>
            <div class="col-md-7 ">
                <%= render "shared/feed" %>
            </div>
        </div>
    <% else %>
    <div class="bg-light w-100 d-flex justify-content-center mb-3">
        <div class="container w-75 text-center lightgrey p-4 rounded-3">
            <h1 class="">REGISTER</h1>
            <p class="lead home_title">
                This is the home page for the 
                <a href="https://www.railstutorial.org/"><b>Ruby on Rails Tutorial</b></a>
                sample application
            </p>
           <%= link_to "Signup", signup_path, class: "btn btn-primary" %>
             <% # <%= link_to "Signup", new_user_path, class: "btn btn-primary" %>
        </div>
    </div>
    <% end %>

