<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Sign in</h3>
                        <%= form_with(url: login_path, method: :post, scope: :session, local: true, data: { turbo: false }) do |f| %>

                            <div class="form-outline mb-4">
                                <%= f.label :email, class: "form-label", for: "typeEmailX-2" %>
                                <%= f.email_field :email, id: "typeEmailX-2", class: "form-control form-control-lg" %>
                            </div>

                            <div class="form-outline mb-4">
                                <%= f.label :password, class: "form-label", for: "typePasswordX-2" %>
                                <%= link_to "Forgot Password?", new_password_reset_path %>
                                <%= f.password_field :password, id: "typePasswordX-2", class: "form-control form-control-lg" %>
                            </div>
                                 <%= f.label :remember_me, class: "form-check-label" do %> 
                                    <%= f.check_box :remember_me, class: "form-check-input" %>
                                    Remember me
                                <% end %> <br>

                            <%= f.submit "Login", class: "btn btn-primary btn-lg btn-block" %>

                            <hr class="my-4">
                            <p>Don't have an account? <%= link_to "Signup", signup_path %></p>

                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>