
<% provide(:title, "Reset password") %>
<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Reset Password</h3>
                        <%= form_with(model: @user, url: password_reset_path(params[:id]), local: true, data: { turbo: false }) do |f| %>
                       
                            <%= render "shared/error_messages", object: f.object %>

                            <%= hidden_field_tag :email, @user.email %>

                            <div class="form-outline mb-4">
                                <%= f.label :password, class: "form-label", for: "typeEmailX-2" %>
                                <%= f.password_field :password, id: "typeEmailX-2", class: "form-control form-control-lg" %>
                            </div>
                             <div class="form-outline mb-4">
                                <%= f.label :password_confirmation, class: "form-label", for: "typeEmailX-2" %>
                                <%= f.password_field :password_confirmation, id: "typeEmailX-2", class: "form-control form-control-lg" %>
                            </div>
                            <%= f.submit "Update password", class: "btn btn-primary btn-lg btn-block" %>

                            <hr class="my-4">
                            <p>Don't have an account? <%= link_to "Signup", signup_path %></p>

                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>