<% provide(:title, "Update") %>
<h1 class="text-center mb-4">Update Your Profile</h1>
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <%= form_with(model: @user, local: true, data: { turbo: false }, html: { class: "form-floating p-4 bg-white shadow-lg rounded-lg" }) do |f| %>
            <%= render "shared/error_messages", object: f.object %>

            <div class="form-floating mb-3">
                <%= f.text_field :name, class: "form-control rounded-3", id: "name", placeholder: "Name" %>
                <%= f.label :name, "Name", class: "px-4" %>
            </div>

            <div class="form-floating mb-3">
                <%= f.email_field :email, class: "form-control rounded-3", id: "email", placeholder: "Email" %>
                <%= f.label :email, "Email", class: "px-4" %>
            </div>

            <div class="form-floating mb-3">
                <%= f.password_field :password, class: "form-control rounded-3", id: "password", placeholder: "Password" %>
                <%= f.label :password, "Password", class: "px-4" %>
            </div>

            <div class="form-floating mb-4">
                <%= f.password_field :password_confirmation, class: "form-control rounded-3", id: "password_confirmation", placeholder: "Password Confirmation" %>
                <%= f.label :password_confirmation, "Confirmation", class: "px-4" %>
            </div>

            <%= f.submit "Save Changes", class: "btn btn-primary btn-lg btn-block rounded-pill w-100" %>

            <div class="text-center m-3">
                <% if @user.errors.any? %>
                    <% @user.errors.full_messages_for(:profile_picture).each do |message| %>
                        <div class="alert alert-danger mt-2">
                            <%= message %>
                        </div>
                    <% end %>
                <% end %>
                <div id="preview" class="mt-2">
                    <%= image_tag (@user.profile_picture.attached? ? @user.profile_picture : "tweetme.png"), class: "rounded-circle", id: "profile_image_preview", size: "100x100" %>
                </div>
                <%= f.file_field :profile_picture, class: "d-none", id: "profile_image_file" %>
                <%= f.label :profile_picture, "Upload Profile", class: "btn btn-primary mt-2", for: "profile_image_file" %>
            </div>
        <% end %>
    </div>
</div>
<script>
document.getElementById("profile_image_file").onchange = function () {
    var reader = new FileReader();
    reader.onload = function (e) {
        document.getElementById("profile_image_preview").src = e.target.result;
    };
    reader.readAsDataURL(this.files[0]);
};
</script>
