<% provide(:title, "Signup") %>
<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Signup</h3>
    <% # Here @user in model: @user is an instance of User modal in method
       # def new
       #  @user = User.new
       #  end %>
            <%= form_with(model: @user, local: true, data: { turbo: false }) do |f| %>
              <%= render "shared/error_messages", object: f.object %>

              <div class="form-floating mb-4">
                <%= f.text_field :name, class: "form-control ", placeholder: "Name" %>
                <%= f.label :name, "Name", class: "form-label" %>
              </div>

              <div class="form-floating mb-4">
                <%= f.email_field :email, class: "form-control ", required: true, placeholder: "Email" %>
                <%= f.label :email, "Email", class: "form-label" %>
              </div>

              <div class="form-floating mb-4">
                <%= f.password_field :password, class: "form-control ", placeholder: "Password" %>
                <%= f.label :password, "Password", class: "form-label" %>
              </div>

              <div class="form-floating mb-4">
                <%= f.password_field :password_confirmation, class: "form-control ", placeholder: "Confirm Password" %>
                <%= f.label :password_confirmation, "Confirm Password", class: "form-label" %>
              </div>

              <%= f.submit "Create my account", class: "btn btn-primary btn-lg btn-block" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
