<h1>whats up? </h1>
<%= form_with(model: @micropost, local: true, data: { turbo: false }) do |f| %>
  <% # <%= render "shared/error_messages", object: f.object %> 
  <div class="field shadow-lg">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
    <% if @micropost.errors.any? %>
      <% @micropost.errors.full_messages_for(:image).each do |message| %>
        <div class="alert alert-danger">
          <%= message %>
        </div>
      <% end %>
      <% @micropost.errors.full_messages_for(:content).each do |message| %>
        <div class="alert alert-danger">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary w-100 mb-4" %>
  <%= f.file_field :image, class: "d-none", id: "image_file" %>
  <%= f.label :image, "Upload Image", class: "btn btn-primary", for: "image_file" %>
<% end %>
