<div class="post-form bg-light p-3 rounded">
    <h1 class="h4 mb-3">What's up?</h1>
    <%= form_with(model: @micropost, local: true, data: { turbo: false }) do |f| %>
        <% # <%= render "shared/error_messages", object: f.object %> 
        <div class="field shadow-lg p-2 rounded">
            <%= f.text_area :content, placeholder: "Compose new micropost...", class: "form-control" %>
            <% if @micropost.errors.any? %>
                <% @micropost.errors.full_messages_for(:image).each do |message| %>
                    <div class="alert alert-danger mt-2">
                        <%= message %>
                    </div>
                <% end %>
                <% @micropost.errors.full_messages_for(:content).each do |message| %>
                    <div class="alert alert-danger mt-2">
                        <%= message %>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div>
            <div id="preview" class="mt-2 text-center">
                   <%= image_tag (@micropost.image.attached? ? @micropost.image : "tweetme.png"), class: "rounded", id: "micropost_image_preview", style: "width: 200px;" %>
                </div>
        <%= f.submit "Post", class: "btn btn-primary w-100 mt-3" %>
        <%= f.file_field :image, class: "d-none", id: "micropost_image_file" %>
        <%= f.label :image, "Upload Image", class: "btn btn-primary mt-2", for: "micropost_image_file" %>
        </div>
    <% end %>
</div>
  <% # <%= render "shared/error_messages", object: f.object %> 
<script>
 document.getElementById("micropost_image_file").onchange = function () {
    var reader = new FileReader();
    reader.onload = function (e) {
        document.getElementById("micropost_image_preview").src = e.target.result;
    };
    reader.readAsDataURL(this.files[0]);
};
</script>